@import '../../vars';
@import '../../mixins/fade';

@mixin borderBottom() {
  border-bottom: 1px solid $border-color;
}

@mixin animeInfoMixIn() {
  @include borderBottom();
  padding: 5px 0;
}

.AnimeContainer {
  display: inline-block;
  padding: 0 1rem 1rem 0;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
  width: 25%;
  font-size: 14px;

  @media screen and (max-width: 92em) {
    width: 33.333333333%;
  }

  @media screen and (max-width: 74.9375em) {
    width: 50%;
  }

  @media screen and (max-width: 63.9375em) {
    white-space: normal;
  }

  @media screen and (max-width: 39.9375em) {
    width: 100%;
    display: block;
  }
}

.AnimeCard {
  background-color: $main-color;
  border: 1px solid $border-color;
  border-radius: 3px;
  font-size: 0.9em;
  line-height: 1;
  overflow: hidden;
  text-align: center;
}

.MainTitle {
  font-size: 18px;
  text-overflow: ellipsis;
  line-height: 1.8rem;
  padding-bottom: 1px;
  padding-left: 1px;
  margin: 0.5rem 0;
  overflow: hidden;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

.NativeTitle {
  margin: 5px 0;
  font-weight: 300;
}

.AnimeGenres {
  @include borderBottom();
  margin: 1.5px 0;
  padding: 0;
  list-style: none;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  color: $dark-text-color;

  li {
    a {
      text-decoration: none;
      color: inherit;
      @include fade('transparent');
    }
  }

  li.PluralGenres::after {
    white-space: pre;
    content: ' · ';
    padding-left: 2px;
  }
}

.PosterContainer {
  @include borderBottom();
  border-right: 1px solid $border-color;
  float: left;
  width: 136px;
  position: relative;
  overflow: hidden;

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 185px;
    height: 100%;
  }

  &:hover {
    div {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.1s, opacity 0.5s linear;
    }
  }

  @media screen and (min-width: 40em) {
    width: 185px;
    height: 265px;
  }
}

.AnimeInfo {
  @include borderBottom();
  display: flex;
  flex-flow: column;
  height: 194.28571429px;
  max-height: 194.28571429px;
  @media screen and (min-width: 40em) {
    height: 265px;
    max-height: 265px;
  }
}

.AnimeStudios {
  @include animeInfoMixIn();
  margin: 0;
  list-style: none;
  font-size: 1.15em;
  white-space: nowrap;
  display: flex;
  justify-content: center;

  li.PluralStudios::after {
    white-space: pre;
    content: ' × ';
    padding-left: 2px;
  }
}

.AnimeDate {
  @include animeInfoMixIn();
}

.AnimeMetaData {
  @include animeInfoMixIn();

  display: flex;
  align-items: center;
  justify-content: space-around;

  @media screen and (max-width: 1550px) {
    font-size: 0.9em;
  }

  .AnimeSource {
    text-transform: capitalize;
  }

  .AnimeEpisodes {
    color: currentColor;
  }
}

.AnimeDescription {
  line-height: 1.3;
  overflow-y: hidden;
  padding: 0.5em;
  text-align: left;
  white-space: normal;
  flex: 1;

  p {
    margin: 0;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    &:last-of-type {
      padding-bottom: 0.5rem;
    }
  }
}

.ExternalLinks {
  padding: 4px 0;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: $text-color;
  }
  p {
    margin: 0;
    height: 30px;
    display: flex;
    align-items: center;
  }
}

:global {
  .simplebar-scrollbar:before {
    background-color: $text-color;
  }
}
