@import '../../vars';

@mixin borderBottom() {
  border-bottom: 1px solid $border-color;
}

@mixin animeInfoMixIn() {
  @include borderBottom();
  padding: 5px 0;
}

.AnimeContainer {
  display: inline-block;
  padding: 0 1rem 1rem 0;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
  width: 25%;
  font-size: 14px;
  @media screen and (max-width: 92em) {
    width: 33.333333333%;
  }

  @media screen and (max-width: 74.9375em) {
    width: 50%;
  }

  @media screen and (max-width: 63.9375em) {
    white-space: normal;
  }

  @media screen and (max-width: 39.9375em) {
    width: 100%;
    display: block;
  }
}

.AnimeCard {
  background-color: $main-color;
  border: 1px solid $border-color;
  border-radius: 3px;
  font-size: 0.9em;
  line-height: 1;
  overflow: hidden;
  text-align: center;
}

.MainTitle {
  font-size: 18px;
  text-overflow: ellipsis;
  // line-height: 1.8rem;
  padding: 0;
  margin: 0.9rem 0 0.6rem 0;
  overflow: hidden;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

.AnimeTags {
  @include borderBottom();
  margin: 1.5px 0;
  padding: 0;
  list-style: none;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  color: $dark-text-color;

  li.PluralTags::after {
    white-space: pre;
    content: ' · ';
    padding-left: 2px;
  }
}

.PosterContainer {
  border-right: 1px solid rgba(118, 118, 118, 0.1);
  float: left;
  width: 136px;
  position: relative;
  overflow: hidden;

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  .Broadcast {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.2s linear;
    left: 0;
    position: absolute;
    font-size: 0.83em;
    color: #fff;
    z-index: 5;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    padding: 0.5em 0;
    width: 100%;
  }

  &:hover {
    .Broadcast {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.1s, opacity 0.5s linear;
    }
  }

  @media screen and (min-width: 40em) {
    width: 176px;
    height: 240px;
  }
}

.AnimeInfo {
  display: flex;
  flex-flow: column;
  height: 194.28571429px;
  max-height: 194.28571429px;
  @media screen and (min-width: 40em) {
    height: 250px;
    max-height: 240px;
  }
}

.AnimeStudios {
  @include animeInfoMixIn();

  margin: 0;
  list-style: none;
  font-size: 1.15em;
  white-space: nowrap;
  display: flex;
  justify-content: center;

  li.PluralStudios::after {
    white-space: pre;
    content: ' × ';
    padding-left: 2px;
  }
}

.AnimeDate {
  @include animeInfoMixIn();
}

.AnimeMetaData {
  @include animeInfoMixIn();

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.AnimeSynopsis {
  line-height: 1.3;
  overflow: hidden;
  padding: 0.5em;
  text-align: left;
  white-space: normal;
  flex: 1;

  p {
    margin: 0;
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }
}
