@import '../../vars';
@import '../../mixins/fade';

.ListContainer {
  padding: 20px 0;
  text-align: left;
  margin-left: 20px;
  box-sizing: border-box;
}

.ListHeader {
  text-align: left;
  margin-bottom: 10px;
  padding: 20px 0 0 20px;
  border-bottom: 1px solid $border-color;
  white-space: nowrap;

  h1 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    display: inline-block;
    margin-right: 20px;
  }

  nav {
    display: inline-block;
    position: relative;
  }
}

.ListOptions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 0 20px;
}

.ListFooter {
  text-align: center;
  padding-bottom: 10px;
}

.Pagination {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.25rem;
  border: 0.9px solid $main-color;

  .PageActive {
    a {
      color: $main-color !important;
      background-color: #e3e7eb !important;
      border-color: #ced4da !important;
    }
  }

  .PageDisabled {
    a, a:hover {
      color: $darker-text-color !important;
      background-color: inherit !important;
      border-color: inherit !important;
      cursor: not-allowed;
    }
  }

  li {
    a {
      display: inline-block;
      padding: 0.55rem 1rem;
      min-width: 1rem;
      text-align: center;
      background-color: $main-color;
      box-shadow: none !important;
      border-color: #ced4da !important;
      font-weight: 900;
      font-size: 1rem;
      cursor: pointer;
      @include fade();

      @media (hover: hover) {
        &:hover {
          color: $main-color !important;
          background-color: #e3e7eb !important;
          border-color: #ced4da !important;
        }
      }
    }
  }

  .BreakLabel {
    display: inline-block;
    padding: 0.55rem 1rem;
    min-width: 1rem;
    background-color: $main-color;
    cursor: default;
    color: $dark-text-color;
  }
}
