@import '../../vars';
@import '../../mixins/fade';

.Type {
  background: none;
  border: none;
  outline: none;
  color: $dark-text-color;
  padding: 0;
  margin: 0 20px -1px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 2.6;
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid inherit;
  position: relative;
  border-bottom: none;

  @include fade('transparent');
}

.Type:hover,
.TypeActive {
  color: inherit;
  border-bottom: 1px solid white;
}