@import '../../hacks';
@import '../../mixins';

/* Fade */
@mixin fade {
	@include hacks();
	overflow: hidden;
	@include prefixed(transition-duration, $mediumDuration);
	@include prefixed(transition-property, "color, background-color");

	&:hover,
	&:focus,
	&:active {
		background-color: #919191;
		color: white;
	}
}
