@import '../../vars';

.Navigation {
  height: $header-height;
  width: 100%;
  z-index: 90;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $main-color;
  box-sizing: border-box;
  align-items: center;
  padding-right: 10px;
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  flex-flow: row;
  display: flex;
  align-items: center;
}

.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  padding: 0 5px;
  width: 100%;
  position: relative;

  a,
  .DropBtn {
    text-decoration: none;
    width: 100%;
    display: block;
    color: $text-color;
    box-sizing: border-box;
    font-weight: 600;
    white-space: nowrap;
    padding: 16px 8px;
    height: 100%;
  }

  a:hover {
    background-color: #919191;
  }

  .DropdownContent {
    display: none;
    position: absolute;
    left: 0;
    background-color: $main-color;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

.NavigationItem:hover {
  background-color: #2e8bdd;
  .DropBtn {
    color: white;
  }

  .DropdownContent {
    display: block;
  }
}

.Logo {
  margin: 10px 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.LogoImg {
  width: 150px;
}
