@import '../../vars';

.Navigation {
  height: $header-height;
  width: 100%;
  z-index: 90;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $main-color;
  box-sizing: border-box;
  align-items: center;
  padding-right: 10px;
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  flex-flow: row;
  display: flex;
  align-items: center;
}

.Logo {
  margin: 10px 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.LogoImg {
  width: 150px;
}
