.LinkIcon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  background-size: 263px 390px;
  background-repeat: no-repeat;
  a {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.CrunchyrollIcon {
  background: -webkit-image-set(url(https://s.livechart.me/assets/light-theme-sprites@1x-c04816891c4c81a696807a008766354b1d8dfbb9a2962baa3b58c70d7d2bb7db.png) 1x, url(https://s.livechart.me/assets/light-theme-sprites@2x-3c96a15f36c0ce9ed4bacad6d7a8a9914c81332e6030c0374adc066ba8c4d9b1.png) 2x) 0% 0% / 60px 450px no-repeat;
  background-position: 0px -420px;

  &:hover {
    background-color: #f78c27;
    background-position: -30px -360px;
  }
}

.WebsiteIcon {
  background: -webkit-image-set(url(https://s.livechart.me/assets/light-theme-sprites@1x-c04816891c4c81a696807a008766354b1d8dfbb9a2962baa3b58c70d7d2bb7db.png) 1x, url(https://s.livechart.me/assets/light-theme-sprites@2x-3c96a15f36c0ce9ed4bacad6d7a8a9914c81332e6030c0374adc066ba8c4d9b1.png) 2x) 0% 0% / 60px 450px no-repeat;
  background-position: 0px -270px;
  &:hover {
    background-color: #4a85ff;
    background-position: -30px -210px;
  }
}
.TwitterIcon {
  background: -webkit-image-set(url(https://s.livechart.me/assets/light-theme-sprites@1x-c04816891c4c81a696807a008766354b1d8dfbb9a2962baa3b58c70d7d2bb7db.png) 1x, url(https://s.livechart.me/assets/light-theme-sprites@2x-3c96a15f36c0ce9ed4bacad6d7a8a9914c81332e6030c0374adc066ba8c4d9b1.png) 2x) 0% 0% / 60px 450px no-repeat;
  background-position: 0px -210px;
  &:hover {
    background-color: #1da1f3;
    background-position: -30px -150px;
  }
}

.HidiveIcon {
  &:hover {
    background-color: #00adef;
  }
}

.NormalIcon {
  &:hover {
    background-color: white;
  }
}

.HuluIcon {
  &:hover {
    background-color: #79b732;
  }
}

.DailymotionIcon {
  &:hover {
    background-color: white;
  }
}
