@import './hacks';
@import './mixins';
@import './options';
@import '../vars';

/* Fade */
@mixin fade($bg-colour: null) {
  @include hacks();
  overflow: hidden;
  @include prefixed(transition-duration, $mediumDuration);
  @include prefixed(transition-property, 'color, background-color');

  &:hover,
  &:focus,
  &:active {
    background-color: if($bg-colour, $bg-colour, $dark-text-color);
    color: white;
  }
}
