@import './hacks';
@import './mixins';
@import './options';
@import '../vars';

/* Fade */
@mixin fade($bg-colour: null) {
  @include hacks();
  overflow: hidden;
  @include prefixed(transition-duration, $mediumDuration);
  @include prefixed(transition-property, 'color, background-color');

  @media (hover: none), (hover:on-demand) {
    &:hover {
      background-color: inherit;
      color: inherit;
    }
  }
  &:hover {
    background-color: if($bg-colour, $bg-colour, $dark-text-color);
    color: white;
  }
}
